<a href="https://colab.research.google.com/github/tando96/python101/blob/main/1_2_%5BLecture%5D_Sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON SEQUENCES**

Before you start: File ‚ñ∏ Save a Copy in Drive

![](https://files.realpython.com/media/Lists-and-Tuples-in-Python_Watermarked.4d655c81a78b.jpg)

## OVERVIEW

In programming, it is common to want to work with collections of data. In Python, `list`, `tuple` and `string` are built-in data structures that allows us to work with a collection of data in sequential order.

Suppose we want to make a list of the heights of students in a class:
1. Adam is 175 cm tall
2. Eva is 170 cm tall
3. Alex is 165 cm tall
4. Mia is 160 cm tall

We can create a variable called heights to store these integers into a ***list***:
```python
heights = [175, 170, 165, 160]
```

Instead of storing each student‚Äôs height, we can make a list that contains their names:

```python
names = ['Adam', 'Eva', 'Alex', 'Mia']
```

We can even combine multiple data types in one list. For example, this list contains both a string and an integer:

```python
mixed_list_string_number = ["Adam", 175]
```

Lists can contain any data type in Python! For example, this list contains a string, integer, boolean, and float.

```python
mixed_list_common = ["Mia", 160, False, 0.5]
```

üèÉüèª‚Äç‚ôÇÔ∏è **Mini Excercise**

1. Add any additional string to the end of the `list ints_and_strings`.
2. Create a new list called `sam_height_and_testscore` that contains:
    * The string "Sam" (to represent Sam‚Äôs name)
    * The number 167 (to represent Sam‚Äôs height)
    * The float 85.5 (to represent Sam‚Äôs score)
    * The boolean True (to represent Sam passing the test)

In [ ]:
# YOUR CODE HERE
sam_height_and_testscore = ["Sam", 167, 85.5, True]

In addition to list, we also have ***tuple*** and ***string*** which works similarly. Let's study them all to see the difference!

In [ ]:
# Built-in python sequences

# List []
l = [0, 1, 2.5, True, "a", "b", "c"]

# Tuple ()
t = (0, 1, 2.5, False, "a", "b", "c")

# String '' or ""
s = "012.5Falseabc"

üìñ We can check the *length* using `len()`

In [ ]:
print(len(l))  # List
print(len(t))  # Tuple
print(len(s))  # String

7
7
13

#### **Accessing Elements**

We can access any single element by specifying its ***index***. Note that **index ALWAYS starts from 0**

In [ ]:
# List
print("LIST:")
print("l    =", l)
print("l[0] =", l[0])
print()

# Tuple
print("TUPLE:")
print("t    =", t)
print("t[2] =", t[2])
print()

# String
print("STRING:")
print("s    =", s)
print("s[3] =", s[3])

LIST:
l    = [0, 1, 2.5, True, 'a', 'b', 'c']
l[0] = 0

TUPLE:
t    = (0, 1, 2.5, False, 'a', 'b', 'c')
t[2] = 2.5

STRING:
s    = 012.5Falseabc
s[3] = .

‚ùì This code will returns an error. Why?

In [ ]:
print(l[7])

IndexError: ignored

‚ùì How can we get the *last* element of a sequence?

In [ ]:
big_list = [
    1,
    1,
    2,
    3,
    5,
    8,
    13,
    21,
    34,
    55,
    89,
    144,
    233,
    377,
    610,
    987,
    1597,
    2584,
    4181,
    6765,
    10946,
    17711,
    28657,
    46368,
    75025,
    121393,
    196418,
    317811,
    514229,
    832040,
    1346269,
    2178309,
    3524578,
    5702887,
    9227465,
    14930352,
    24157817,
    39088169,
    63245986,
    102334155,
    165580141,
    267914296,
    433494437,
    701408733,
    1134903170,
    1836311903,
    2971215073,
    4807526976,
    7778742049,
]

**Option 1**: Use `len()`

In [ ]:
# YOUR CODE HERE
big_list[len(big_list) - 1]

7778742049

**Option 2**: Accessing elements using ***Negative Index*** üåü

In [ ]:
# YOUR CODE HERE
big_list[-1]

7778742049

#### **Slicing**

In order to get a **sub-sequence**, we need to ***slice*** the orginal sequence.

Syntax: `[<start> : <stop> : <step_size>]` with *default* step_size is 1

In [ ]:
# List
print("l      =", l)
print(
    "l[0:3] =", l[0:3]
)  # <start>=0, <stop>=3, <step_size>=1 --> return the list [l[0], l[1], l[2]]
print()

# Tuple
print("t      =", t)
print(
    "t[1:4] =", t[1:4]
)  # <start>=1, <stop>=4, <step_size>=1 --> return the tuple (t[1], t[2], t[3])
print()

# String
print("s      =", s)
print(
    "s[2:5] =", s[2:5]
)  # <start>=2, <stop>=5, <step_size>=1 --> return the string 's[2]s[3]s[4]'

l      = [0, 1, 2.5, True, 'a', 'b', 'c']
l[0:3] = [0, 1, 2.5]

t      = (0, 1, 2.5, False, 'a', 'b', 'c')
t[1:4] = (1, 2.5, False)

s      = 012.5Falseabc
s[2:5] = 2.5

Print the first 3 elements

In [ ]:
print(l[:3])

[0, 1, 2.5]

Print from the 4th element to the end

In [ ]:
print(l[3:])

[True, 'a', 'b', 'c']

Print all

In [ ]:
print(l[::])

[0, 1, 2.5, True, 'a', 'b', 'c']

Print all, but skip every other element

In [ ]:
print(l[::2])

[0, 2.5, 'a', 'c']

Print all, but in reverse order

In [ ]:
print(l[::-1])

['c', 'b', 'a', True, 2.5, 1, 0]

In [ ]:
print(l[::-2])

['c', 'a', 2.5, 0]

In [ ]:
print(l[4::-1])

['a', True, 2.5, 1, 0]

In [ ]:
print(l[-1:3:-1])  # not include stop index

['c', 'b', 'a']

#### **Concatenate**

In [ ]:
# List
l1 = [0, 1, 2.5]
l2 = ["a", "b", "c"]
l = l1 + l2
print("l =", l)

# Tuple
t1 = (0, 1, 2.5)
t2 = ("a", "b", "c")
t = t1 + t2
print("t =", t)

# String
s1 = "abc"
s2 = "123"
s = s1 + s2
print("s =", s)

l = [0, 1, 2.5, 'a', 'b', 'c']
t = (0, 1, 2.5, 'a', 'b', 'c')
s = abc123

#### **Misc**

üìñ **Empty Sequences**

In [ ]:
# List:
l = []

# Tuple
t = ()

# String
s = ""

print(l)
print(t)
print(s)

[]
()

üìñ **Nested Sequences**

In [ ]:
# List in list
ll = [[0, 1], [2, 3], [4, 5]]

ll2 = [(0, 1), "fdasf", [2, 3]]

# Tuple in tuple
tt = ((0, 1), (2, 3), (4, 5))

# String in list/tuple
ls = ["Hello", "World"]
ts = ("My", "name", "is", "")

# String in string...??
ss = 'fdas"fdsa"fdas'

üí° Check whether an element ***exists*** in a sequence using `in`

In [ ]:
element = 1

# List/Tuple
l = [0, 1, 2]
t = (0, 1, 2)

print(element in l)
print(element in t)

l = [3, 4, 5]
t = (3, 4, 5)

print(element in l)
print(element in t)

True
True
False
False

In [ ]:
# String
n = "r"
s1 = "Coder"
s2 = "School"

print(n in s1)
print(n in s2)

True
False

‚ùì **Question**: This will give an error! Can you fix this?

In [ ]:
# ONLY strings can be `in` string
n = 1
s = "0123"
print(n in s)

TypeError: ignored

## LIST vs. TUPLE

Lists are ***mutable*** (changable). Change the first element of the list above to 10

In [ ]:
my_list = [0, 1, 2]

my_list[0] = 10
print(my_list)

[10, 1, 2]

‚ö†Ô∏è Tuples are very similar to lists, except that tuples are ***immutable***

In [ ]:
my_tuple = (1, 2, 3)
my_tuple = (2, 3, 4)

my_tuple[0] = 10

TypeError: ignored

## GROWING A SEQUENCE

üìù **Method**

In Python, for any specific data-type ( strings, booleans, lists, etc. ) there is ***built-in functionality*** that we can use to create, manipulate, and even delete our data. We call this built-in functionality a ***method***.

### **`append()`**

An example of a popular list method is `.append()`, which allows us to add an element to the end of a list.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)

print(my_list)

[1, 2, 3, 4]

Because tuples are immutable, we can not append a tuple.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple.append(4)

AttributeError: ignored

### **`extend()` and concat(+)**

‚ùì What if we want to append **multiple** items at a time?

In [ ]:
my_list = [1, 2, 3]
my_list.append("4", "5")

TypeError: ignored

In [ ]:
my_list = [1, 2, 3]
another_list = ["a", "b", "c"]

my_list.append(another_list)

print(my_list)
print(len(my_list))

[1, 2, 3, ['a', 'b', 'c']]
4

**Option 1: `extend()`**

In [ ]:
my_list = [1, 2, 3]
another_list = ["a", "b", "c"]

my_list.extend(another_list)
print(my_list)

[1, 2, 3, 'a', 'b', 'c']

**Option 2: concat(+)**

In [ ]:
my_list = [1, 2, 3]
another_list = ["a", "b", "c"]

new_list = my_list + another_list
print(new_list)

[1, 2, 3, 'a', 'b', 'c']

## OTHER METHODS

**List**

- `.append()`: add 1 item to the list
- `.extend()`: add several items to the list
- `.insert(index, item)`: insert an item at a defined index

- `+` : concatenate two lists
- `*` : repeat the list for a number of times

- `del list[index]`: delete one or more items by its indexes
- `.remove(value)`: remove an element with `value` in list

Syntax and examples can be found [here](https://www.w3schools.com/python/python_ref_list.asp).

Let's demo with `.insert()`

In [ ]:
fruits = ["apple", "banana", "cherry"]
index = 1

# Option 1
fruits.insert(index, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry"]
index = 1

# Option 2
new_fruits = (
    fruits[0:index] + ["orange"] + fruits[index:]
)  # ['apple'] + ['orange'] + ['banana', 'cherry']
print(new_fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry"]
index = 1

# Option 3
new_fruits = fruits[0:index]
new_fruits.append("orange")
new_fruits.extend(fruits[index:])
print(new_fruits)

['apple', 'orange', 'banana', 'cherry']

Another demo with `.remove()`

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

**Tuple**
- [`.count(value)` ](https://www.w3schools.com/python/ref_tuple_count.asp): Returns the number of times a specified `value` occurs in a tuple
- [`.index(value)`](https://www.w3schools.com/python/ref_tuple_index.asp): Searches the tuple for a specified `value` and returns the position of where it was found

## STRING

üèÉüèª‚Äç‚ôÇÔ∏è **Mini Exercise**

In [ ]:
# Define a variable with string "CODERSHOOL"

In [ ]:
# Choose the 5th character


# Choose the 3rd last character

In [ ]:
# Choose all the character before the 5th character

In [ ]:
# Choose only the 'SCHOOL' part

In [ ]:
# Choose everything

In [ ]:
# Choose everything but backward

In [ ]:
# Extract 'RED' from 'CODERSCHOOL'

In [ ]:
# Does this work?
mystring[5] = "H"

NameError: ignored

How to modify a string?

In [ ]:
# CODERSCHOOL --> CODERHCHOOL
mystring = "CODERSCHOOL"

# Option 1
s1 = mystring[:5]
s2 = "H"
s3 = mystring[6:]
print(s1 + s2 + s3)

# Option 2
s = list(mystring)
print(s)
s[5] = "H"
s = "".join(s)  # convert a list to string
s

CODERHCHOOL
['C', 'O', 'D', 'E', 'R', 'S', 'C', 'H', 'O', 'O', 'L']

'CODERHCHOOL'

In [ ]:
# Convert string to integer
a = 123

a = str(a)
print(a, type(a))

a = int(a)c
print(a, type(a))

SyntaxError: ignored

üèÉüèª‚Äç‚ôÇÔ∏è **Mini Exercise**: Given a three-digit number, calculate the sum of all its digits

In [ ]:
# YOUR CODE HERE

üí° List of string methods could be found [here](https://www.w3schools.com/python/python_ref_string.asp). Don't worry, you don't need to remember them all!

üèÉüèª‚Äç‚ôÇÔ∏è **Mini Exercise**

You are given a string.

1.  In the first line, print the third character of this string.

2.  In the second line, print the second to last character of this string.

3.  In the third line, print the first five characters of this string.

4.  In the fourth line, print all except the last two characters of this string.

5.  In the fifth line, print all the characters of this string with even indices (remember indexing starts at 0, so the characters are displayed starting with the first).

6.  In the sixth line, print all the characters of this string with odd indices (i.e. starting with the second character in the string).

7.  In the seventh line, print all the characters of the string in reverse order.

8.  In the eighth line, print every second character of the string in reverse order, starting from the last one.

9.  In the ninth line, print the length of the given string.

*Example:*
```python
>>> Abrakadabra # input
r
r
Abrak
Abrakadab
Arkdba
baaar
arbadakarbA
abdkrA
11
```

In [ ]:
# YOUR CODE HERE
string = "Abrakadabra"

üî• **CHALLENGE**

Given a string, cut it into two equal parts. If the length of the string is odd, leave the middle character within the first chunk, so that the first string contains one more character than the second. Now print a new string on a single row with the first and second halves swapped: second half first and the first half last.

Can you solve it without using if?

*Example #1:*
```python
>>> Qwerty # input
rtyQwe # output
```

*Example #2:*
```python
>>> tulip # input
iptul # output
```

*Example #3:*
```python
>>> Abrakadabra # input
dabraAbraka # output
```

In [ ]:
# YOUR CODE HERE
mystring = "tulip"

‚ö†Ô∏è Please note that from Python 3 (the one we are using), **Bankers Rounding** is applied, in which the round() function will round the `.5 number` to the **nearest *even* number**. Thus, 2.5 rounds down to 2; 1.5 rounds up to 2.

The supposed advantage to bankers rounding is that it is *unbiased*, and thus produces better results with various operations that involve rounding.

## [Extra] SET

Python‚Äôs built-in `set` type has the following characteristics:

1. Sets are **unordered**.
2. Set elements are **unique**. Duplicate elements are not allowed.
3. A set itself may be modified, but the elements contained in the set must be of an **immutable** type.

In [ ]:
# Create a set
set1 = {"apple", "banana", "cherry"}

In [ ]:
set1[1]

TypeError: ignored

In [ ]:
# Duplicate elements are not allowed
set2 = {"apple", "banana", "cherry", "apple"}
print(set2)

{'apple', 'cherry', 'banana'}

In [ ]:
# Convert a list to a set
new_set = set(["banana", "kiwi", "kiwi", "orange", "orange", "orange"])
new_set

{'banana', 'kiwi', 'orange'}

In [ ]:
# Add/Remove an element to a set
new_set.add("apple")
new_set.remove("banana")

In [ ]:
new_set

{'apple', 'kiwi', 'orange'}

### **Set Operations**

**Union**

In [ ]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

print(a | b)  # First way
print(a.union(b))  # Second way

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

**Intersection**

In [ ]:
print(a & b)  # First way
print(a.intersection(b))  # Second way

{4, 5}
{4, 5}

**Difference**

In [ ]:
print(a - b)  # First way
print(a.difference(b))  # Second way

{1, 2, 3}
{1, 2, 3}

‚ùìWhat does this print?

In [ ]:
print(b - a)

{8, 6, 7}

`symmetric_difference()`

In [ ]:
print(a ^ b)  # First way
print(a.symmetric_difference(b))  # Second way

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

üèÉüèª‚Äç‚ôÇÔ∏è **Mini Exercise:** Given a list of 10 numbers. Print the *number* of distinct elements of the list.

In [ ]:
a = [1, 2, 4, 1, 6, 2, 9, 1, 1, 6]

# YOUR CODE HERE