<a href="https://colab.research.google.com/github/tando96/python101/blob/main/1_5_%5BLecture%5D_Python_101_Hello_World.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON 101**

**Before you start: File ‚ñ∏ Save a copy in Drive**

Welcome to the Python Module of the Data Science Course of CoderSchool.

**Google Colab** is a great platform to experiment your code and build your own Data Analysis projects in a simple  way. Hence, we will use Google Colab as a ***playground*** to practice the concept, as well as, a platform to ***exercise***.

Welcome onboard and happy coding!

![](https://files.realpython.com/media/python-basics-wide2.f73a9e9bf9b8.jpg)

## WELCOME!

Python is a programming language. Like other languages, it gives us a way to communicate ideas. In the case of a programming language, these ideas are ‚Äúcommands‚Äù that people use to communicate with a computer!

We convey our commands to the computer by writing them in a text file using a programming language. These files are called *programs*. Running a program means telling a computer to read the text file, translate it to the set of operations that it understands, and perform those actions.

In [ ]:
print("Hello and welcome to CoderSchool!")

Hello and welcome to CoderSchool!

### Comments

In [ ]:
# Check whether a number is Even or Odd
i = 10
if i % 2 == 0:
    print("This is an EVEN number")
else:
    print("This is an ODD number")

This is an EVEN number

In [ ]:
a = 2

# Option 1
# a = a + a

# Option 2
a = a * 2
print(a)

4

In [ ]:
# This is a comment in Python
# Comments help other people reading the code understand it faster
# or ignore a line of code and see how a program will run without it

# You can make it simply by putting # in front of the line
# Or using the shortcut Cmd/Ctrl + /

## 1. VARIABLE

A variable is used to **store a value** that will be used by the program. In Python, we ***assign*** variables by using the equals sign (=).

In [ ]:
message_string = "Hello CoderSchool"

print(message_string)
print(message_string)
print(message_string)

Hello CoderSchool
Hello CoderSchool
Hello CoderSchool

It‚Äôs no coincidence we call these creatures ‚Äúvariables‚Äù. If the context of a program changes, we can **update a variable** but perform the same logical process on it.

In [ ]:
# Greeting
message_string = "Hey!"
print(message_string)

# Farewell
message_string = "See you!"
print(message_string)

Hey!
See you!

Now, let's try to update the variable meal to reflect each meal of the day before we print it.

In [ ]:
# We've defined the variable "meal" here to the name of the food we ate for breakfast!
meal = "B√°nh m√¨"
print("Breakfast:", meal, "!!!")

# Now update "meal" to be lunch!
meal = "C∆°m t·∫•m"
print("Lunch:", meal)

# Now update "meal" to be dinner
meal = "H·ªß ti·∫øu"
print("Dinner:", meal)

Breakfast: B√°nh m√¨ !!!
Lunch: C∆°m t·∫•m
Dinner: H·ªß ti·∫øu

‚ùì**Questions**
1. After a variable is assigned to an initial value, can the variable later be reassigned to another value?
2. Can `print()` be used for strings only?
3. Why change a variable rather than just create a new one?

**Mini exercise** üèÉüèª‚Äç‚ôÇÔ∏è

In [ ]:
# Assign the constant value 3.14 to variable `a`

In [ ]:
# Display the value of the variable `a`
# Note that the variable exists everywhere after assigning

In [ ]:
# Assign the constant value "Hello" to variable `b`

In [ ]:
# Assign the constant value 3 and 4 corresponding to variable `c` and `d`

In [ ]:
# Do the same thing as above, but use exactly 1 line (hint: use comma)

In [ ]:
# Create a new variable name 'cat_fur' and assign it with the value 'black'

In [ ]:
# Variable name is case sensitive
CAT_fur = "white"
print(cat_fur)

In [ ]:
# Reassigning an existing variable (try to guess before running this cell)
a = 1
a = 2
a = 3
print(a)

3

## 2. BASIC DATA TYPES

###Boolean (True/False)

In [ ]:
a = True
type(a)

bool

In [ ]:
a = 1 > 100
print(a)
type(a)

False

bool

Compare a and b. Notice the order of operation.

In [ ]:
a = 10
b = 11

c = a <= b
d = a > b
e = a == b

print(c, d, e)

True False False

`==` compares 2 values; `=` assigns new value to variable

In [ ]:
print(a == b)

a = b
print(a)

False
11

Boolean operator

<img src="https://imgur.com/MmPPhn9.png" />

In [ ]:
# Inverting boolean using "not"
a = True
print(not (a))

False

In [ ]:
# AND vs. OR
a = True
b = False

print(a and b)
print(a or b)

False
True

In [ ]:
# AND vs. OR
a = True
b = True
c = False
d = True

print(a and b and c and d)
print(a or b or c or d)

False
True

Order of evaluation: NOT > AND > OR. Check [Operator precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence) for a full list

In [ ]:
a = True
b = True
c = False

# print(a or b and c) # NOT reccommended
print((a or b) and c)  # RECOMMEND

False

###Numbers

In [ ]:
type(0)  # Integer

int

In [ ]:
type(3.14)  # Float

float

**[Extra]** Floating-point numbers can behave in some unexpected ways due to how computers store them. For more information on floating-point numbers and Python, read [Python‚Äôs documentation on floating-point limitations](https://docs.python.org/3/tutorial/floatingpoint.html).

In [ ]:
type(1 + 2j)  # Complex

complex

What if we want to convert int to float and vice versa? Yes we can!

In [ ]:
a = 3
print(a, type(a))

a = float(a)  # type casting
print(a, type(a))

3 <class 'int'>
3.0 <class 'float'>

In [ ]:
# Convert float to int
b = 5.01
print(b, type(b))

b = int(b)
print(b, type(b))

5.01 <class 'float'>
5 <class 'int'>

Rounding floats to nearest integer

In [ ]:
c = 0.2
c = round(c)
print(c, type(c))

d = 1.789
d = round(d, 2)
print(d, type(d))

0 <class 'int'>
1.79 <class 'float'>

### String (basic)

Computer programmers refer to blocks of text as strings. In our last exercise, we created the string ‚ÄúCoderSchool‚Äù. In Python a string is either surrounded by double quotes ("CoderSchool") or single quotes ('CoderSchool'). It doesn‚Äôt matter which kind you use, just be consistent.

Print a string

In [ ]:
print("Hello World!")

print("Hello World!")

Hello World!
Hello World!

In [ ]:
print("Hello 'old' World!")
print('Hello "new" World!')

print("""He"ll"o 'W'orld""")

Hello 'old' World!
Hello "new" World!
He"ll"o 'W'orld

Multi-line strings

In [ ]:
lyric = """Hello darkness my old friend
           I've come to talk with you again
        """

type(lyric)

str

Concatenate two string

In [ ]:
text = "CODER" + "SCHOOL"
print(text)

CODERSCHOOL

If you want to **concatenate a string with a number** you will need to **convert** the number to a string first, using the `str()` function.

In [ ]:
birthday_string = "I am "
age = 25
birthday_string_2 = " years old today!"

# Concatenating an integer with strings is possible if we turn the integer into a string first
full_birthday_string = birthday_string + str(age) + birthday_string_2

print(full_birthday_string)

# Option 2
print(birthday_string, age, birthday_string_2)

I am 25 years old today!
I am  25  years old today!

**Mini Exercise** üèÉüèª‚Äç‚ôÇÔ∏è

Let's fill in your name and concatenate all the strings below to make a complete sentence.

In [ ]:
string1 = "My name is "
string2 = ""     # FILL IN YOUR NAME HERE
string3 = "I am "
string4 = 37
string5 = " years old. "
string6 = "I learn DS at CoderSchool because "
string7 = "I love CS!"

# YOUR CODE HERE
message = ""

print(message)

## UPDATE VARIABLES

### Assign directly

In [ ]:
coffee_price = 1.50
number_of_coffees = 4

print(coffee_price * number_of_coffees)

# Updating the price
coffee_price = 2.00

print(coffee_price * number_of_coffees)

6.0
8.0

‚≠êÔ∏è **Trick**: swap values of two variables in one line

In [ ]:
a = 1
b = 2

a, b = b, a

print(a, b)

2 1

In [ ]:
a = 1
b = 2

temp = a
a = b
b = temp

print(a, b)

2 1

### Change relatively

In [ ]:
# First we have a variable that store the total running distance
running_distance = 10

# Let's say we run another 2 km today
running_distance = running_distance + 2

print(running_distance)

12

**Plus Equals**


Python offers a shorthand for updating variables. When you have a number saved in a variable and want to add to the current value of the variable, you can use the += (plus-equals) operator.

In [ ]:
running_distance = 10

running_distance += 2

print(running_distance)

12

The plus-equals operator also can be used for string concatenation, like so:

In [ ]:
status = "Learning Python at CoderSchool is fun!"

# Add the hashtags!
status += " #weekend"
status += " #coding"

print(status)

Learning Python at CoderSchool is fun! #weekend #coding

**Mini Excercise** üèÉüèª‚Äç‚ôÇÔ∏è

In [ ]:
total_price = 0

new_shoes = 50.00
total_price += new_shoes

nice_shirt = 39.00
fun_book = 20.00

# Update total_price here
total_price

print("The total price is", total_price)

The total price is 50.0

## CALCULATIONS

Computers absolutely excel at performing calculations. The ‚Äúcompute‚Äù in their name comes from their historical association with providing answers to mathematical questions.

Python performs addition, subtraction, multiplication, and division with +, -, *, and /. If you want more, here it is:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

<span style="display:none"></span>

In [ ]:
# Prints "501"
print(573 - 73 + 1)

# Prints "50"
print(25 * 2)

# Prints "2.0"
print(10 / 5)

501
50
2.0

Notice that when we perform division, the result has a decimal place. This is because Python ***converts all integers to floats before performing division***. In older versions of Python (2.7 and earlier) this conversion did not happen, and integer division would always round down to the nearest integer.

Division can throw its own special error: `ZeroDivisionError`. Python will raise this error when attempting to divide by 0.

In [ ]:
print(10 / 0)

ZeroDivisionError: ignored

In [ ]:
# Assign the value 5 to the variable named score
score = 5

In [ ]:
score += 1
print(score)

score -= 3
print(score)

score *= 8
print(score)

# Note the implicit type casting
score /= 4
print(score, type(score))

6
3
24
6.0 <class 'float'>

In [ ]:
# Some other common operations between numbers

# Power (**)
print(2**3)

# Floor division (//)
print(15 // 2)

# Modulo (%)
print(15 % 2)

# Absolute value (abs())
print(abs(5 - 7))

8
7
1
2

**Example**

Given an integer number.
*   Print **False** if that number is an **even number**
*   Print **True** if that number is an **odd number**

In [ ]:
x = 15
print(x % 2 != 0)

True

**Mini Exercise** üèÉüèª‚Äç‚ôÇÔ∏è

Given 10 cards and you need to divide to 4 players. Let's print the number of cards remained.

In [ ]:
no_cards = 10
no_players = 4

# YOUR CODE HERE
print("Cards remained: ")

Cards remained:

üî• **CHALLENGE**

Given a three-digit number. Find the sum of its digits.

============

Example input

**123**

============

Example output

**6**

In [ ]:
# YOUR CODE HERE

## 3. INPUT-OUTPUT

# New Section

###Print

In [ ]:
a = 1
b = "Hello world!"

print(a)
print(b)

1
Hello world!

In [ ]:
number_of_students = 30
place = "my class"

# Option 1
print("There are", number_of_students, "students in", place)

# Option 2
print(f"There are {number_of_students} students in {place}")

There are 30 students in my class
There are 30 students in my class

We can use formatted string to control the number of floating digits

In [ ]:
pi = 3.1415926535897

print(f"The result is {pi:.3f}")

The result is 3.142

###Input

So far, we‚Äôve covered how to assign variables values directly in a Python file. However, we often want a user of a program to enter new information into the program.

While we output a variable‚Äôs value using `print()`, we assign information to a variable using `input()`. The `input()` function requires a prompt message, which it will print out for the user before they enter the new information. For example:

In [ ]:
name = input("What's your name? ")  # input() by default returns a string
print(name, type(name))

age = int(input("How old are you? "))  # Convert an input string into integer
print(age, type(age))

üî• ***CHALLENGE:*** Write a program that takes three integer numbers separately and print their sum in the format: "The sum of three numbers is ___"

In [ ]:
# YOUR CODE HERE