<a href="https://colab.research.google.com/github/tando96/python101/blob/main/1_6_%5BLecture%5D_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src=https://files.realpython.com/media/Defining-Your-Own-Python-Function_Watermarked.d5b07e88ece4.jpg />

# FUNCTION

In programming, as we start to write bigger and more complex programs, one thing we will start to notice is we will often have to repeat the same set of steps in many different places in our program. And that's when function comes in handy.

Like loops and conditionals, *code inside a function must be indented* to show that they are part of the function.

## DEFINE & CALL
Let's start by writing a function to **subtract two number**. First we need to ***define*** it.

Note that the function content is *indented*. Also, running the cell *does not print anything* because this is just a definition.

In [1]:
def subtract(a, b):
    result = a - b
    print(result)

Now, we call (or *execute*) the function

In [2]:
subtract(7, 10)

-3

## ARGUMENTS

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with two argument: name and age

In [3]:
def upgrade(name, age):
    print(f"{name} is {age} years old!")


upgrade("Ti", 5)
upgrade("Teo", 4)
upgrade("Tun", 3)

Ti is 5 years old!
Teo is 4 years old!
Tun is 3 years old!

**Keyword Arguments**

You can also send arguments with the `key = value` syntax.

This way the order of the arguments does not matter.

In [4]:
def my_child(child1, child2, child3):
    print("The third child is " + child3)


my_child(child3="Tun", child2="Teo", child1="Ti")

The third child is Tun

**Default Parameter Value**

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [5]:
def my_country(country="Vietnam"):
    print("I am from " + country)


my_country("US")
my_country("Sweden")
my_country()
my_country("Japan")

I am from US
I am from Sweden
I am from Vietnam
I am from Japan

**Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

For example, if you send a List as an argument, it will still be a List when it reaches the function:

In [6]:
def my_menu(food):
    for x in food:
        print(x)


fruits = ["apple", "banana", "cherry"]

my_menu(fruits)

apple
banana
cherry

**Mutable vs. Immutable objects**

An object whose **internal state can NOT be changed** is immutable. For example: numbers, strings, tuple.

`b = a` means b is now a ***copy*** of a

In [7]:
a = 5
b = a
b += 1

print(a, b)

5 6

In [8]:
def increase_by_1(a):  # a is now a COPY of x
    a += 1
    print(a)


x = 5
increase_by_1(x)
print(x)

6
5

An object whose **internal state can be changed** is mutable. For example: list, set, dictionaries.

`b = a` means b is now a ***shortcut*** to a

In [9]:
a = [1, 2, 3]
b = a
b[0] = 10

print(a, b)

[10, 2, 3] [10, 2, 3]

In [10]:
def my_menu(food):  # food is now a SHORTCUT of fruits
    food[0] = "LEMON"


fruits = ["apple", "banana", "cherry"]

my_menu(fruits)
print(fruits)

['LEMON', 'banana', 'cherry']

## RETURN

In programming we have two types of functions

Functions that perform a task

In [11]:
def greet(name):
    print(f"Hi {name}")

Functions that return a value.

In [12]:
x = round(0.9)
x

1

To write our own function that can return a value, we use the `return` statement

In [13]:
def process(a, b):
    result = (a + b) * 2
    return result


x = process(2, 3)
print(x)

10

🏃🏻‍♂️ **Mini Excercise 1**: Write a function that takes two numbers and *return* the bigger one

In [15]:
def bigger_num(a, b):
    # YOUR CODE HERE
    if a > b:
      return a
    else:
      return b

c=bigger_num(1,10)
print(c)

10

🏃🏻‍♂️ **Mini Exercise 2**: Write a function that take three numbers and *return* the least of them

In [17]:
def min_of_three(a, b, c):
    # YOUR CODE HERE
    if a < b and a < c :
      return a
    elif b < a and b < c:
      return b
    else:
      return c

d = min_of_three(1,2,3)
print(d)

1

🏃🏻‍♂️ **Mini Exercise 3**

A palindrome is a word, phrase, or sequence that **reads the same backward as forward**, e.g., madam.

Write a function that checks whether a passed string is palindrome or not.

*Hint*: using string reverse and return True/False

In [18]:
def palindrome(my_string):
    # YOUR CODE HERE
    if my_string == my_string[::-1]:
      return True
    else:
      return False

palindrome("madam")

True

🌟 **Return multiple values**

In [19]:
def multi_return(x):
    double = x * 2
    half = x / 2
    pw2 = x**2
    return double, half, pw2


x1, x2, x3 = multi_return(3)
print(x1, x2, x3)

6 1.5 9

## GLOBAL & LOCAL VARIABLES

In [20]:
# Global variable
vip = 0.01
long_term = 0.01


def interest_rate(amount, period):
    # local variable
    base_rate = 0.05
    print("Base rate", base_rate)

    if period < 12:
        rate = base_rate
    else:
        if amount < 10:
            rate = base_rate + long_term
        else:
            rate = base_rate + long_term + vip

    return rate

In [21]:
print(vip, long_term)

0.01 0.01

In [ ]:
print(base_rate)

NameError: ignored

In [22]:
result = interest_rate(20, 14)
print(result)

Base rate 0.05
0.07

Since local and global variables are in different "worlds", we can have duplicate names

In [ ]:
def increase_by_one(a):
    x = 1
    print(x)
    return a + x


x = 5
increase_by_one(x)
print(x)

1
5

In [ ]:
def multi_return(x):
    double = x * 2
    half = x / 2
    pw2 = x**2
    return double, half, pw2


x = 3
double, half, pw2 = multi_return(x)
print(double, half, pw2)

6 1.5 9

## NESTED FUNCTIONS

In [23]:
def greetings(bank_name):
    print("Hello Sir/Madam,")
    print(f"Welcome to {bank_name}!")


# MAIN FUNCTION
def my_ebanking(bank_name, customer_name, amount, period):
    greetings(bank_name)
    my_rate = interest_rate(amount, period)
    print(f"Dear {customer_name}, your interest rate will be {my_rate}")

In [24]:
my_ebanking("Amazing Bank", "Mr. Awesome", 15, 24)

Hello Sir/Madam,
Welcome to Amazing Bank!
Base rate 0.05
Dear Mr. Awesome, your interest rate will be 0.07

We can also define a function within a function

In [25]:
def my_ebanking_2(bank_name, customer_name, amount, period):
    def greetings_2(bank_name):  # local function
        print("Hello Sir/Madam!")
        print(f"Welcome to {bank_name}!")

    def interest_rate_2(amount, period):  # local function
        # local variable
        base_rate = 0.05

        if period < 12:
            rate = base_rate
        else:
            if amount < 10:
                rate = base_rate + long_term
            else:
                rate = base_rate + long_term + vip

        return rate

    greetings_2(bank_name)
    my_rate = interest_rate_2(amount, period)
    print(f"Dear {customer_name}, your interest rate will be {my_rate}")

In [ ]:
my_ebanking_2("Amazing Bank", "Mr. Awesome", 15, 24)

Hello Sir/Madam!
Welcome to Amazing Bank!
Dear Mr. Awesome, your interest rate will be 0.07

Since `greetings_2()` is local function, we cannot access it globally

In [ ]:
greetings_2("ABC bank")

NameError: ignored

🌟 **`pass`**: function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the **`pass`** statement to avoid getting an error.

In [26]:
def greetings_3(bank_name):
    pass


def interest_rate_3(customer_name, money):
    pass


def my_ebanking(bank_name, customer_name, money):
    greetings_3(bank_name)
    my_rate = interest_rate_3(customer_name, money)
    print(f"Dear {customer_name}, your interest rate will be {my_rate}")

## [Optional] Function with list comprehension

⭐️ List comprehensions combined with functions like `min`, `max`, and `sum` can lead to impressive one-line solutions for problems that would otherwise require several lines of code.

For example, compare the following two cells of code that do the same thing.

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.

    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

Here's a solution using a list comprehension:

In [ ]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

Much better, right?

Well if all we care about is minimizing the length of our code, this third solution is better still!

In Python, `True + True + False + True` is equal to 3. So, we can write:

In [ ]:
def count_negatives(nums):
    return sum([num < 0 for num in nums])

Which of these solutions is the "best" is entirely subjective. Solving a problem with less code is always nice, but it's worth keeping in mind the following lines from [The Zen of Python](https://en.wikipedia.org/wiki/Zen_of_Python):

> Readability counts.  
> Explicit is better than implicit.

So, use these tools to make compact readable programs. But when you have to choose, favor code that is easy for others to understand.