<a href="https://colab.research.google.com/github/tando96/python101/blob/main/2_1_Sequences_Lab_1(REQ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

If you don't remember the first step, please click [here](https://learn.coderschool.vn/path-player?courseid=dv-m11-basic-python&unit=dv-m11-basic-python_624537766805eUnit) to review the Lab Guide

# **SEQUENCES LAB 1**

![](https://opensource.com/sites/default/files/lead-images/python_programming_question.png)

## Our blue planet

Given a list of planets below. The elements are arranged such that the distance between the element and the Sun is in ascending order. This means that the first element in the list is the closest to the Sun while the last is the furthest.

Print out the third closest planet to the Sun.

In [14]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# YOUR CODE HERE
print(planets[2])

Earth

## Not Pluto

Print out the furthest planet away from the Sun by using a negative index.

Reuse your list of planets from above.

In [2]:
# YOUR CODE HERE
print(planets[-1])

Neptune

## Close neighbors

Print out the list of planets that are closer to the Sun compared to Earth.

```python
['Mercury', 'Venus']  # output
```

Reuse your list of planets from above.

In [3]:
# YOUR CODE HERE
print(planets[:2])

['Mercury', 'Venus']

## Far neighbors

Print out the list of planets that are further away from the Sun compared to Earth (excluding Earth itself) in order from furthest to closest.

```python
['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars']  # output
```

Reuse your list of planets from above.

In [4]:
# YOUR CODE HERE
print(planets[2:])

['Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## A new planet?

In 1930, scientists discovered Pluto to be the ninth planet in our solar system. Let's add it to our list.

Given the list of planets like before, modify it so that it contains 'Pluto' as the furthest planet from the Sun.

Reuse your list of planets from above.

In [15]:
print('Before 1930:', planets)

# YOUR CODE HERE
new_planets = "Pluto"
planets.append(new_planets)
print('After 1930: ', planets)

Before 1930: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
After 1930:  ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

## The middle planet

Using the list of planets that we've just modified to contain Pluto, print out the middle planet. It should be Jupiter.

Your solution should also work for a list of any length, not just this one.

Reuse your list of planets from above.

In [17]:
# YOUR CODE HERE
a = round(len(planets) / 2)

print(planets[a])

Jupiter

## Planet names in order

Use [`sorted()`](https://www.w3schools.com/python/ref_func_sorted.asp) to rearrange the names in the list of planets containing Pluto following the alphabetical order.

Your solution should not modify the list of planets, but instead, create a new one.

Reuse your list of planets from above.

```python
>> Before sorted: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'] #output
>> After sorted:  ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus'] #output
```

In [18]:
# YOUR CODE HERE
print(f"Before sorted: {planets}")

x = sorted(planets)

print(f"After sorted: {x}")

Before sorted: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
After sorted: ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Pluto', 'Saturn', 'Uranus', 'Venus']

## Goodbye, Pluto

In 2006, scientists officially reclassified Pluto to no longer be a planet. We need to update the list to reflect this unfortunate change.

Use [`list.pop()`](https://www.w3schools.com/python/ref_list_pop.asp) to modify and print out `planets` so that it no longer contains 'Pluto'.

Reuse your list of planets from above.

In [19]:
print('Before 2006:', planets)

# YOUR CODE HERE
planets.pop(-1)
print('After 2006: ', planets)

Before 2006: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
After 2006:  ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']