<a href="https://colab.research.google.com/github/tando96/python101/blob/main/2_1_Dictionary_Lab_1_(REQ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

If you don't remember the first step, please click [here](https://learn.coderschool.vn/path-player?courseid=dv-m11-basic-python&unit=dv-m11-basic-python_624537766805eUnit) to review the Lab Guide


![](https://files.realpython.com/media/Dictionaries-in-Python_Watermarked.a5df426cbb09.jpeg)

# **DICTIONARY LAB 1**

> ***NOTE: Some exercises below may be collected from an interview with big tech companies, like FAANG (Facebook, Amazon, Apple, Netflix, Google) and others like Microsoft, etc. Be sure to have a try!***

### Check key

Write a function `check_key(my_dict, my_val)` to check whether a given value `my_val` is a key in our dictionary (`my_dict`). Your function should return `True` if it is, and `False` otherwise.

*Example:*
```python
>>> my_dict = {1:1, 2:4, 3:9, 4:16}
>>> print(check_key(my_dict, 3))
True

>>> my_dict = {'a':'A', 'b':'B', 'c':'C'}
>>> print(check_key(my_dict, 'd'))
False
```

In [1]:
# YOUR CODE HERE

my_dict = {1:1, 2:4, 3:9, 4:16}

def check_key(my_dict , my_val):
  if my_val in my_dict:
    return True
  else:
    return False

print(check_key(my_dict, 3));

True

### Combine dictionaries

Write a function `combine_dict(dict_1, dict_2)` to combine 2 different dictionaries into a single dictionary and return the combined dictionary. Assume both dictionaries have no keys in common.

*Example:*
```python
>>> dict_1 = {1:1, 2:4}
>>> dict_2 = {3:9, 4:16}
>>> print(combine_dict(dict_1, dict_2))
{1: 1, 2: 4, 3: 9, 4: 16}

>>> dict_1 = {'a':'A', 'b':'B'}
>>> dict_2 = {'c':'C', 'd':'D'}
>>> print(combine_dict(dict_1, dict_2))
{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}
```

In [2]:
# YOUR CODE HERE

dict_1 = {1:1, 2:4}
dict_2 = {3:9, 4:16}

def combine_dict(dict_1, dict_2):
  temp = {}
  temp.update(dict_1)
  temp.update(dict_2)
  return temp

print(combine_dict(dict_1, dict_2))

{1: 1, 2: 4, 3: 9, 4: 16}

### Dictionary of squares

Write a function `squares_dict(n)` to create a dictionary with `1,2,...,n` as keys and `1**2, 2**2,..., n**2` as values.

*Example:*
```python
>>> print(squares_dict(4))
{1:1, 2:4, 3:9, 4:16}

>>> print(squares_dict(8))
{1:1, 2:4, 3:9, 4:16, 5:25, 6:36, 7:49, 8:64}
```

In [3]:
# YOUR CODE HERE
def squares_dict(n):
  temp = {}
  for i in range(1, n+1):
    temp[i] = i**2
  return temp

print(squares_dict(8))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Two lists and one dictionary

Write a function `two_lists_to_dict(list_1, list_2)` to create a dictionary with values in `list_1` as dictionary keys and values in `list_2` as dictionary values. Assume that `list_1` and `list_2` have the same length.

*Example:*
```python
>>> list_1 = [1,2,3,4]
>>> list_2 = [1,4,9,16]
>>> print(two_lists_to_dict(list_1, list_2))
{1: 1, 2: 4, 3: 9, 4: 16}

>>> list_1 = ['a','b','c','d']
>>> list_2 = ['A','B','C','D']
>>> print(two_lists_to_dict(list_1, list_2))
{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}
```

In [4]:
# YOUR CODE HERE
list_1 = [1,2,3,4]
list_2 =[1,4,9,16]

def two_lists_to_dict(list_1, list_2):
  temp = {}
  for i in range(len(list_1)):
    key = list_1[i]
    value = list_2[i]
    temp[key] = value
  return temp

print(two_lists_to_dict(list_1,list_2))

{1: 1, 2: 4, 3: 9, 4: 16}

### Max of dictionary

Write a function `max_key(my_dict)` that takes a dictionary `my_dict` and returns the *key* that has the maximum *value*. Assume that all values are distinct, and are of the same type.

*Example:*
```python
>>> my_dict = {1:1, 2:4, 3:9, 4:16, 5:25}
>>> print(max_key(my_dict))
5

>>> my_dict = {'a':'A', 'b':'B', 'c':'C', 'd': 'D'}
>>> print(max_key(my_dict))
'd'

>>> my_dict = {'Betty': 3.2, 'Chris': 7.31, 'Adam': 2.58, 'Elise': 4.90, 'David': 5.76}
>>> print(max_key(my_dict))
'Chris'
```

In [ ]:
# YOUR CODE HERE

### Key removal

Remove a key from a dictionary.

*Example:*
```python
>>> my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
>>> remove_key(my_dict,'a')
>>> print(my_dict)
{'b': 2, 'c': 3, 'd': 4}
```

In [ ]:
# YOUR CODE HERE

### Value sum

Sum all the values in a dictionary.

*Example:*
```python
>>> my_dict = {'data1': 100, 'data2': -54, 'data3': 247}
>>> sum_dict_values(my_dict)
293
```

In [ ]:
# YOUR CODE HERE

### Sort by value

Sort (ascending and descending) a dictionary by value.

*Example:*
```python
>>> my_dict={1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

>>> Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
    Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
    Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}
```

In [ ]:
# YOUR CODE HERE