<a href="https://colab.research.google.com/github/tando96/python101/blob/main/2_1_Loops_Lab_1_(REQ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

If you don't remember the first step, please click [here](https://learn.coderschool.vn/path-player?courseid=dv-m11-basic-python&unit=dv-m11-basic-python_624537766805eUnit) to review the Lab Guide

# **LOOPS LAB 1**

> ***NOTE: Some exercises below may be collected from an interview with big tech companies, like FAANG (Facebook, Amazon, Apple, Netflix, Google) and others like Microsoft, etc. Be sure to have a try!***

## FOR LOOP

### Sum of Even

Write a program to find the sum of all even numbers between 1 to n.
*Example:*
```python
>>> 5 #input
>>> 6 #output
```

In [2]:
# YOUR CODE HERE
n = int(input())

sum = 0

for i in range(1, n + 1):
  if i % 2 == 0:
    sum += i

print(sum)

5
6

### Robust Series

Given a tuple of 2 positive integers. Print all integers between those 2 integers inclusive with the conditions:
- Print in *increasing* order if the first integer is smaller than the second
- Print in *decreasing* order if the first integer is greater than or equal to the second.

The easiest way to do this problem is to use the function [`range()`](https://www.geeksforgeeks.org/python-range-function/) extensively. Think about how to get a sequence of numbers backwards.

*Example #1:*
```python
>>> T = (8,5) # Given tuple T
8 7 6 5 # output
```

*Example #2:*
```python
>>> T = (1,3) # Given tuple T
1 2 3 # output
```

In [3]:
# YOUR CODE HERE

T = (8,5)

if T[0] < T[1]:
  for i in range(T[0], T[1] + 1):
    print(i)
else:
  for i in range(T[0], T[1] - 1, - 1):
    print(i)

8
7
6
5

### Prime check

Given an integer n>1, check if it is a prime number. Print `True` if it is, and `False` if it isn't.

>A prime number is an integer greater than 1 that is only divisible by 1 and itself.

*Example*
```python
>>> n = 2
True
>>> n = 23
True
>>> n = 18
False
```

In [5]:
# YOUR CODE HERE
n = int(input())

temp = 0

for i in range(2, n + 1):
  if n % i == 0:
    temp += 1

if temp > 1:
  print(False)
else:
  print(True)

9
False

### Hollow square

Given an integer size n>2, draw a hollow (empty) square of stars with that size.

*Example*
```python
>>> n = 3 # Given size
***
* *
*** # 3x3 square of stars
>>> n = 5
*****
*   *
*   *
*   *
*****
```

In [6]:
# YOUR CODE HERE
n = int(input())

for i in range(n):
  if i == 0 or i == n - 1:
    print("*" *n )
  else:
    print("*" + " " * (n-2) + "*")

3
***
* *
***

### Sum of Factorials

In mathematics, the factorial of an integer $n$, written as $n!$ is the following product:

$$
n! = 1 \times 2 \times 3 \times \ldots \times n
$$

For a given integer $n$, calculate the value

$$
1! + 2! + 3! + \ldots + n!
$$

Try to discover the solution that uses only one for-loop. And don't use the `math` library in this exercise.

*Example #1:*
```python
>>> n = 4 # Given n
33 # output (33 = 1! + 2! + 3! + 4!)
```

*Example #2:*
```python
>>> 10 # Given n
4037913 # output (4037913 = 1! + 2! + 3! + 4! + 5! + 6! + 7! + 8! + 9! + 10!)
```

In [8]:
# YOUR CODE HERE
n = int(input())

temp = 0

for i in range(1, n + 1):
  fac = 1
  for k in range(1, i + 1):
    fac = fac * k
  temp = temp + fac

print(temp)

4
33

## WHILE LOOP

### Largest Square

For a given integer N, print the largest squared integer less than or equal to N.

*Example:*
```python
>>> 50 # input N
49 # output 49 == 7*7
>>> 121
121 # 121 == 11*11
>>> 1000
961 # 961 == 31*31
```

In [9]:
# YOUR CODE HERE
n = int(input())

i = 1

while i * i <= n:
  i += 1

print((i - 1) * (i - 1))

50
49

### Jogging

As a future athlete, you just started your practice for an upcoming event. On the first day of practicing, you run `x` miles, and by the day of the event you must be able to run `y` miles. (`x` < `y`)

Calculate the number of days practicing required for you to finally reach the required distance for the event, given that you increase your distance each day by 10% from the previous day.

Print one integer representing the number of days to reach or exceed the required distance.

*Example:*
```python
>>> 10 # input x
>>> 30 # input y
13 # output
```

In [12]:
# YOUR CODE HERE
x = int(input("x: "))
y = int(input("y: "))
temp = 1
while x < y:
  x *= 1.1
  temp += 1

print(temp)

x: 10
y: 30
13

### Sum of Digits

For a given integer, write a `while` loop to calculate the sum of all of its digits. If the integer is negative, ignore the sign.

*Example 1:*
``` python
>>> 1223 #input
8 # 1+2+2+3
```
*Example 2:*
``` python
>>> 91752 #input
24 # 9+1+7+5+2
```
*Example 3:*
``` python
>>> -123456789 #input
45 # 1+2+3+4+5+6+7+8+9
```

In [13]:
# YOUR CODE HERE
n = int(input())

sum = 0

while n > 0:
  sum += n % 10
  n //= 10

print(sum)

123
6

### Average of sequence

Write a program that continuously reads a sequence of non-negative integers, where each number is read on a separate input line. The sequence ends when the input is 0. Calculate and print out the average of the sequence, excluding 0.

*Example:*
```python
>>> 10 # input() has multiple lines
>>> 30
>>> 0  # input 0 signifies that the sequence input is finished
20.0 # output (note that this can be a float number)
```

In [14]:
# YOUR CODE HERE
n = int(input())

sq_len = 0
sq_sum = 0

while n != 0:
  sq_len += 1
  sq_sum += n
  n = int(input())

if sq_len == 0:
    sq_len = 1
print(sq_sum / sq_len)

10
30
0
20.0