<a href="https://colab.research.google.com/github/tando96/python101/blob/main/2_2_Sequences_Lab_2_(REQ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

If you don't remember the first step, please click [here](https://learn.coderschool.vn/path-player?courseid=dv-m11-basic-python&unit=dv-m11-basic-python_624537766805eUnit) to review the Lab Guide

# **SEQUENCES LAB 2**

> ***NOTE: Some exercises below may be collected from an interview with big tech companies, like FAANG (Facebook, Amazon, Apple, Netflix, Google) and others like Microsoft, etc. Be sure to have a try!***

![](https://opensource.com/sites/default/files/lead-images/python_programming_question.png)

## Captain of the worst team

You are analyzing sports teams. Members of each team are stored in a list:
- The Coach is the first name in the list
- The Captain is the second name in the list
- The other players are listed after the previous two names.

These lists are stored in another list, which starts with the best team and ends with the worst team.

From the list of teams and their members, return the name of the captain of the worst team.

*Example #1:*
```python
>>> L = [['Coach John', 'Cap Crunch', 'Tom', 'Timmy'],   # Best team
         ['Coach Jan', 'Cap Alan', 'Bruce', 'Charlie'],  # Second-best team
         ['Coach Thomas', 'Cap Chris', 'Tony', 'Peter']] # Worst team
         # Given list of teams L
Cap Chris # output
```

*Example #2:*
```python
>>> L = [['Coach John', 'Cap Crunch', 'Tom', 'Timmy'],   # Best team
         ['Coach Mark', 'Cap Joseph', 'Gary', 'Harry'],  # Second-best team
         ['Coach Jan', 'Cap Alan', 'Bruce', 'Charlie'],  # Third-best team
         ['Coach Thomas', 'Cap Chris', 'Tony', 'Peter'], # Second-worst team
         ['Coach Larry', 'Cap Paul', 'Ryan', 'Stanley']] # Worst team
         # Given list of teams L
Cap Paul # output
```

In [4]:
# Example 1
L = [['Coach John', 'Cap Crunch', 'Tom', 'Timmy'],   # Best team
     ['Coach Jan', 'Cap Alan', 'Bruce', 'Charlie'],  # Second-best team
     ['Coach Thomas', 'Cap Chris', 'Tony', 'Peter']] # Worst team

# Example 2
# L = [['Coach John', 'Cap Crunch', 'Tom', 'Timmy'],   # Best team
#      ['Coach Mark', 'Cap Joseph', 'Gary', 'Harry'],  # Second-best team
#      ['Coach Jan', 'Cap Alan', 'Bruce', 'Charlie'],  # Third-best team
#      ['Coach Thomas', 'Cap Chris', 'Tony', 'Peter'], # Second-worst team
#      ['Coach Larry', 'Cap Paul', 'Ryan', 'Stanley']] # Worst team

# YOUR CODE HERE
worst_team = L[-1] #find the worst team
W_Cap = worst_team[1] #find the cap
W_Cap

'Cap Chris'

## Swapping Racers

Given a list of racers in their current positions, modify the list by swapping the first and last racers, and then print it out.

*Example #1:*
```python
>>> racers = ['Mario', 'Bowser', 'Peach', 'Luigi'] # Given list of racers
['Luigi', 'Bowser', 'Peach', 'Mario'] # This should be output when printing `racers` after modifying the list
```

*Example #2:*
```python
>>> racers = ['Toad', 'Bowser', 'Mario', 'Toadette', 'Peach', 'Daisy', 'Bowser Jr.'] # Given list of racers
['Bowser Jr.', 'Bowser', 'Mario', 'Toadette', 'Peach', 'Daisy', 'Toad']# This should be output when printing `racers` after modifying the list
```

In [5]:
# racers = ['Mario', 'Bowser', 'Peach', 'Luigi'] # Example 1
racers = ['Toad', 'Bowser', 'Mario', 'Toadette', 'Peach', 'Daisy', 'Bowser Jr.'] # Example 2
print('Before purple shell:', racers)

# YOUR CODE HERE
racers = racers[::-1]
print('After purple: ', racers)

Before purple shell: ['Toad', 'Bowser', 'Mario', 'Toadette', 'Peach', 'Daisy', 'Bowser Jr.']
After purple:  ['Bowser Jr.', 'Daisy', 'Peach', 'Toadette', 'Mario', 'Bowser', 'Toad']

## Fashionably Late

We're using a list to record people who attended our party and by what order they arrived in.

A guest is considered 'fashionably late' if:
1. They arrived after ***at least half*** of the party's guests.
2. They were ***not*** the last guest (that's too far).

Given a list of names of party guests, print out a list of people who are fashionably late.

*Example #1 (odd):*
```python
>>> guest_list = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford', 'Adam', 'Misha'] # Given list of party guests
['Gilbert', 'Ford', 'Adam'] # output
```

*Example #2 (even):*
```python
>>> guest_list = ['Nam', 'Nhu', 'Minh', 'Ly', 'Quang', 'Trang'] # Given list of party guests
['Ly', 'Quang'] # output
```

In [9]:
guest_list = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford', 'Adam', 'Misha'] # Example 1
# guest_list = ['Nam', 'Nhu', 'Minh', 'Ly', 'Quang', 'Trang'] # Example 2
# YOUR CODE HERE

a = round(len(guest_list) / 2)

print(guest_list[a:-1])

['Mona', 'Gilbert', 'Ford', 'Adam']

## Even and odd difference (Google)

Given a list, find the difference in sum of even- and odd- position elements lying within a range of -100 to 100.

In [14]:
arr = [1,2,3,4,5,6,7,8,9]
# YOUR CODE HERE
even = arr[::2] #even index
odd = arr[1::2] #odd index

print(sum(even))
print(sum(odd))

25
20