<a href="https://colab.research.google.com/github/tando96/python101/blob/main/2_2_Hello_World!_Lab_2_(REQ).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If you don't remember the first step, please click [here](https://learn.coderschool.vn/path-player?courseid=dv-m11-basic-python&unit=dv-m11-basic-python_624537766805eUnit) to review the Lab Guide

# **Hello World Lab 2**

> ***NOTE:*** Some exercises below may be collected from an interview with big tech companies, like FAANG (Facebook, Amazon, Apple, Netflix, Google) and others like Microsoft, etc. Be sure to have a try!

![](https://mksaad.files.wordpress.com/2019/03/introduction-to-python_watermarked.48eeee4e1109.jpg)

### Print last two digits

Given an integer greater than 9, print its last two digits.

*Example:*
```python
>>> 1234 # input
34 # output
```

In [23]:
# YOUR CODE HERE

num = input("Input your number: ")

print("Your number: ", num)
 # Because the input number is String therefore I will find the last 2 letters in String
 # and convert it to Integer
two_digits = int(str(num)[-2:])
print(two_digits)

Input your number: 123
Your number:  123
23

### Print tens

Given an integer, print its tens digit.

*Example:*
```python
>>> 1234 # input
3 # output
```

In [18]:
# YOUR CODE HERE
number = input("Enter your number: ")

print("Your number is: ", number)
# same like find two last digits, I just use floor division to 10
tens_digit = (int(str(number)[-2:])) // 10
print(tens_digit)

Enter your number: 159
Your number is:  159
5

### Sum of three digits

Given a three-digit number. Find the sum of its digits.

*Example:*
```python
>>> 123 # input
6 # output
```

In [21]:
# YOUR CODE HERE

# I convert the input number from String to Integer type
xyz = int(input("Enter your input: "))

x = xyz // 100
y = (xyz - x*100) // 10
z = xyz % 10

print (x+y+z)

Enter your input: 159
15

### Print tenth

Given a positive float number, print its first digit to the right of the decimal point (the tenth digit).

*Example:*
```python
>>> 1.79 # input
7 # output
```

In [30]:
# YOUR CODE HERE
float_number = float(input("Please input your float number: "))

tenth_digit = int(float_number * 10) % 10

print(tenth_digit)

Please input your float number: 12.1
1

### Find century of year

Given a year (as a positive integer), find out which century is the year in. For example, if we receive 2000, the program should print out 20 since the year 2000 is in the 20th century.

*Example:*
```python
>>> 2000 # input
20 # output
```

In [35]:
# YOUR CODE HERE

years = int(input("Enter the year: "))

results = years // 100

print(f"The {results}th century")

Enter the year: 2
The 0th century

### Time past midnight

Given the integer N - the number of seconds that have passed since midnight. How many full hours and full minutes have passed since midnight?

The program should print two numbers: the number of hours (between 0 and 23) and the number of minutes (between 0 and 1439). Both outputs should be in one line

*Example:*\
If N = 3900, then 3900 seconds have passed since midnight - i.e. now it's 1:05am. So the program should print 1 65 - 1 full hour is passed since midnight while 65 full minutes have passed since midnight.  

```python
>>> 3900  # input N
1 65 # output hours passed and minutes passed
```

In [40]:
# YOUR CODE HERE
N = int(input("Enter the number of seconds: "))

minutes = N // 60

hours = minutes // 60

print(hours, minutes)

Enter the number of seconds: 3900
1 65